@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Saira:wght@100&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #fca600;
  --secondary: #00768f;
  --light: #e5f7fb;
  --white: #ffffff;
  --accent: #1b849b;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #FCA600;
}
.nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .1s;
  cursor: pointer;
  display: inline-block;
}
.nav-icon span {
  width: 5px;
  height: 5px;
  background-color: #00768F;
  display: block;
  position: absolute;
}
.nav-icon.scary:not(.open) span {
  background-color: #ffffff;
}
.white-navbar-custom .nav-icon span {
  background-color: #00768F;
}
.nav-icon:hover span{
  transform: scale(1.2);
  transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon span:nth-child(1) {
  left: 0;
  top: 0;
}
.nav-icon span:nth-child(2) {
  left: 12px;
  top: 0;
}
.nav-icon span:nth-child(3) {
  right: 0;
  top: 0;
}
.nav-icon span:nth-child(4) {
  left: 0;
  top: 12px;
}
.nav-icon span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
}
.nav-icon span:nth-child(6) {
  right: 0px;
  top: 12px;
}
.nav-icon span:nth-child(7) {
  left: 0px;
  bottom: 0px;
}
.nav-icon span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.nav-icon span:nth-child(9) {
  right: 0px;
  bottom: 0px;
}
.nav-icon.open {
  transform: rotate(180deg);
  cursor: pointer;
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon.open span {
  transition-delay: 200ms;
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}
.nav-icon.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}
.nav-icon.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.nav-icon.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}
/* Navbar (mobile) */
.navbar-collapse {
  padding: 1em;
}
