@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Saira:wght@100&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #fca600;
  --secondary: #00768f;
  --light: #e5f7fb;
  --white: #ffffff;
  --accent: #1b849b;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #FCA600;
}